@import "tailwindcss";

/* En Tailwind v4, los colores personalizados se configuran así directamente */
@theme {
  --color-dark: #121212;
  --color-card: #1E1E1E;
  --color-neon: #00F0FF;
}

/* Estilos base para la plantilla */
body {
  @apply bg-dark text-white font-sans antialiased m-0 p-0;
}
html {
  scroll-behavior: smooth;
}